@{
ViewData["Title"] = "Home Page";
}
<head>
    <style>
        .carousel-item-custom{
            width: 100%;
        }
        .carousel-item-custom img{
            text-align: center;
            margin: 0 auto;
            width: 60%;
        }
    </style>
</head>
<div class="text-center mt-3">
    <h1 class="display-4 u-text-4">FPT Grading system for the Object-Oriented Programming course</h1>
    <p class="lead mt-1">This is a simple grading system for the Object-Oriented Programming course using ASP.NET Core MVC.</p>
    @* <a class="btn btn-primary btn-lg" asp-controller="Login" asp-action="Index">Login</a> *@
</div>
<div id="carouselExampleSlidesOnly" class="carousel slide mt-5" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item carousel-item-custom active" data-bs-interval="5000">
            <img src="~/images/carousel-2.png" class="d-block ">
            <p class="lead text-center">The system is designed to be used by students and teachers.</p>
        </div>
        <div class="carousel-item carousel-item-custom" data-bs-interval="5000">
            <img src="~/images/carousel-3.png" class="d-block ">
            <p class="lead text-center">The system is designed to be used by students and teachers.</p>
        </div>
    </div>
</div>